{% extends 'base.html.twig' %}

{% block title %}Main{% endblock %}

{% block body %}
    {% if users is not empty %}
        {% for user in users %}
            <a href="{{ path('chat', {'id': user.id}) }}">{{ user.username }}</a>
        {% endfor %}
    {% else %}
        Нет пользователей
    {% endif %}
{% endblock %}
